<% if percent_kcal_kind_b <= 35 and percent_kcal_kind_c <= 10 %>
  <div class="notice"><strong>Parabéns!</strong> Sua dieta está dentro dos padrões recomendados.</div>
<% else %>
  <div class="alert"><strong>Quase lá!</strong> Continue atualizando sua dieta com alimentos verdes e menos alimentos vermelhos.</div>
<% end %>