<h1 id="report-title">
    <% if @days == 30 %>
      <span style="float: right">
        <%= link_to 'Ver últimos 7 dias &raquo;'.html_safe, report_path %>
      </span>
      Relatório de controle de calorias ingeridas nos últimos 30 dias
    <% else %>
      <span style="float: right">
        <%= link_to 'Ver últimos 30 dias &raquo;'.html_safe, report_path(:range => 'month') %>
      </span>
      Relatório de controle de calorias ingeridas nos últimos 7 dias
    <% end -%>
</h1>

<div id="graph">&nbsp;</div>
<script src='https://www.google.com/jsapi'></script>
<%= raw @graph.to_js("graph") %>

<p>
  <%= link_to "&laquo; voltar para o programa".html_safe, root_path %>
</p>