<h1>Confirmação de conta</h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <p><strong>Não recebeu as informações de confirmação de conta? Nós enviaremos novamente para você.</strong></p>
  
  <%- unless resource.errors.empty? -%>
    <p class="error">E-mail inválido</p>
  <%- end -%>
  
  <fieldset>
    <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>
  
    <p><%= f.submit "Reenviar instruções" %></p>
  </fieldset>
<% end %>