section[role="main"] {
  padding-bottom: 20px;  
}

section[role="main"] nav {
  width: 180px;
}

section[role="main"] .meal-box .meals ul li a.remove {
  margin-top: -10px;
}

form .meal-box input[type="text"] {
  margin-left: -4px; 
}