<%= content_for :message_title do %>Resumo semanal de calorias consumidas<% end -%>
<p>Bom dia! Veja como está sua evolução no ContaCal.</p>

<p>Acesse o <%= link_to 'ContaCal', root_url, :style => "color: #1E69B4;" %> e acompanhe sua evolução. Não deixe de registrar suas refeições na semana que está começando afinal, só se melhora aquilo que se mede.</p>
<p>Sugestões, dúvidas, mande nos um email para <a href="mailto:contato@contacal.com.br" style="color: #1E69B4;">contato@contacal.com.br</a>.</p>