<%= content_for :message_title do %>Seja bem vindo ao ContaCal!<% end -%>
<p>Olá <%= @user.name %>,</p>

<p>Esperamos que ele lhe ajude a ter uma alimentação mais saudável e balanceada. Comece a registrar <a href=http://app.contacal.com.br/users/sign_in>hoje mesmo</a> suas refeições, é muito simples!</p>

<p>O ContaCal permite que você registre suas refeições e lhe dirá quantas calorias você ingeriu. Veja uma <a href=http://www.contacal.com.br/contar-calorias-ajuda-a-emagrecer>matéria</a> do Jornal Hoje da Rede Globo explicando que contar as calorias dos alimentos diariamente ajuda a emagrecer.</p>

<p>Além disso, o sistema também lhe dirá de que tipo são as calorias que você ingeriu, se são calorias <b><font color=#00cc00>verdes</font></b>, <b><font color=bbbb00>amarelas</font></b> ou <b><font color=#cc0000>vermelhas</font></b>. É recomendável que você não ingira mais do que 10% de calorias <b><font color=#cc0000>vermelhas</font></b> e mais do que 35% de calorias <b><font color=bbbb00>amarelas</font></b>. Calorias <b><font color=#00cc00>verdes</font></b> você pode comer à vontade! :-)</p>

<p>Usando esse sistema de cores você irá perceber não só que é importante controlar a <b><font color=#000000>quantidade</font></b> das calorias ingeridas como também a <b><font color=#000000>qualidade</font></b> das calorias ingeridas, o que vai lhe mostrar como ter uma alimentação mais saudável e balanceada. Isso é reeducação alimentar!</p>

<p>Temos certeza que você vai adorar! Veja o <a href=http://www.contacal.com.br/testemunhos>testemunho</a> de quem usa o ContaCal e obteve excelentes resultados!</p>

<p>Quer conhecer o sistema? Basta assistir a esse <a href="https://vimeo.com/33258576">vídeo</a> de 90 segundos.</p>

<p>Alguns links úteis:</p>
<ul>
  <li><a href="http://www.contacal.com.br/como-registrar-sua-alimentacao-no-contacal/">Como registrar sua alimentação no ContaCal?</a></li>
  <li><a href="http://www.contacal.com.br/o-que-sao-as-calorias-vermelhas-amarelas-e-verdes/">O que são as calorias vermelhas, amarelas e verdes?</a></li>
  <li><a href="http://www.contacal.com.br/qual-o-limite-de-calorias-indicado/">Qual o limite de calorias indicado?</a></li>
</ul>
<p>Acesse o <%= link_to 'ContaCal', root_url, :style => "color: #1E69B4;" %> e registre suas refeições para acompanhar suas calorias diárias. Lembre-se, só se melhora aquilo que se mede. Caso tenha qualquer dúvida, não hesite em nos contactar.</p>

<p>Saudações,<br />Equipe ContaCal.</p>
