<h1>Esqueceu a senha?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <p><strong>Nós lhe enviaremos instruções para a troca de senha.</strong></p>
  
  <%- unless resource.errors.empty? -%>
    <p class="error">E-mail inválido</p>
  <%- end -%>

  <fieldset>
    <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>

    <p><%= f.submit "Envie-me as instruções" %></p>
  </fieldset>
<% end %>