<h1 id="report-title">Opções de acesso</h1>
<div class="pricing_table_wdg">
		<ul>
			<li>Acesso ilimitado</li>
			<li>R$ 17,90</li>
			<li>&nbsp;</li>
			<li>Pagamento mensal<br>recorrente.</li>
			<li>Renovação automática</li>
			<li>Pagamento com<br>cartão de crédito<br>&nbsp;<br>&nbsp;<br>&nbsp;<br></li>
			<li><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		 		<input type="hidden" name="cmd" value="_s-xclick">
		 		<input type="hidden" name="hosted_button_id" value="QP4WL6TUCE9S6">
		 		<input type="image" src="/images/comprar-3.png" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos online!">
		 		<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
			</form></li>
		</ul>
		
		<ul>
			<li>Acesso 12 meses</li>
			<li>R$ 120,00</li>
			<li><font color=red size=2><b>MELHOR OPÇÃO!</b></font></li>
			<li>Equivale a<br>R$ 10,00 por mês.</li>
			<li>Renovação manual</li>
			<li>Pagamento com<br>cartão de crédito,<br>boleto bancário,<br>débito em conta ou<br>depósito bancário.</li>
			<li><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
			<form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
			<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
			<input type="hidden" name="code" value="F8E4545CA1A1217774DBCFB092F2F795" />
			<input type="image" src="/images/comprar-3.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
			</form>
			<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
			<!-- FINAL FORMULARIO BOTAO PAGSEGURO --></li>
		</ul>
		
		<ul>
			<li>Acesso 6 meses</li>
			<li>R$ 90,00</li>
			<li>&nbsp;</li>
			<li>Equivale a<br>R$ 15,00 por mês.</li>
			<li>Renovação manual</li>
			<li>Pagamento com<br>cartão de crédito,<br>boleto bancário,<br>débito em conta ou<br>depósito bancário.</li>
			<li><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
			<form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
			<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
			<input type="hidden" name="code" value="F0093BFEA7A7196004536F89B6109054" />
			<input type="image" src="/images/comprar-3.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
			</form>
			<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
			<!-- FINAL FORMULARIO BOTAO PAGSEGURO --></li>
		</ul>
		
		<ul>
			<li>Acesso 3 meses</li>
			<li>R$ 53,70</li>
			<li>&nbsp;</li>
			<li>Equivale a<br>R$ 17,90 por mês.</li>
			<li>Renovação manual</li>
			<li>Pagamento com<br>cartão de crédito,<br>boleto bancário,<br>débito em conta ou<br>depósito bancário.</li>
			<li><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
			<form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
			<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
			<input type="hidden" name="code" value="3A0C9323E7E7D78004DE7F981695F8BE" />
			<input type="image" src="/images/comprar-3.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
			</form>
			<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
			<!-- FINAL FORMULARIO BOTAO PAGSEGURO --></li>
		</ul>
</div>
		
<br/>
<p>
  <%= link_to "&laquo; voltar para o programa".html_safe, root_url(:protocol => "http") %>
</p>
