<center><h1 id="report-title">Opções de acesso</h1></center>

<center><small>Você pode pagar com cartão de crédito<br>ou boleto bancário.</small></center>

<div class="pricing_table_wdg">
<!--		<ul>
			<li>Acesso ilimitado</li>
			<li>R$ 17,90</li>
			<li>Pagamento mensal recorrente.</li>
			<li>Renovação automática</li>
			<li>Pagamento com cartão de crédito</li>
			<li><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		 		<input type="hidden" name="cmd" value="_s-xclick">
		 		<input type="hidden" name="lc" value="BR">
		 		<input type="hidden" name="hosted_button_id" value="QP4WL6TUCE9S6">
		 		<input type="image" src="/images/comprar-3.png" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos online!">
		 		<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
			</form></li>
		</ul> -->
		
		<ul>
			<li>Acesso 3 meses</li>
			<li>R$ 53,70</li>
			<li>Equivale a R$ 17,90 por mês.</li>
<!--			<li>Renovação manual</li>
			<li>Pagamento com cartão de crédito</li>-->
			<li>
				<!-- PagSeguro pay button for "Acesso 3 meses" -->
				<a href="https://pag.ae/7ZnmkeLw2/button" target="_blank" title="Pagar com PagSeguro"><img src="http://assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- End PagSeguro pay button for "Acesso 3 meses" -->
			</li>
		</ul>
		
		<ul>
			<li>Acesso 6 meses</li>
			<li>R$ 90,00</li>
			<li>Equivale a R$ 15,00 por mês.</li>
<!--			<li>Renovação manual</li>
			<li>Pagamento com cartão de crédito</li>-->
			<li>
				<!-- PagSeguro pay button for "Acesso 6 meses" -->
				<a href="https://pag.ae/7ZnmnvKG2/button" target="_blank" title="Pagar com PagSeguro"><img src="http://assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- End PagSeguro pay button for "Acesso 6 meses" -->
			</li>
		</ul>

		<ul>
			<li>Acesso 12 meses</li>
			<li>R$ 120,00</li>
			<li>Equivale a R$ 10,00 por mês.</li>
<!--			<li>Renovação manual</li>
			<li>Pagamento com cartão de crédito</li>-->
			<li>
				<!-- PagSeguro pay button for "Acesso 12 meses" -->
				<a href="https://pag.ae/7ZnmoN3es/button" target="_blank" title="Pagar com PagSeguro"><img src="http://assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- End PagSeguro pay button for "Acesso 12 meses" -->
			</li>
		</ul>
</div>
<br/>
<p>
  <%= link_to "&laquo; voltar para o programa".html_safe, root_url(:protocol => "http") %>
</p>
