<% slider_id = "slider-meal-#{user_food.id}" %>
<li>
  <%= "#{user_food.food.name}<br />#{user_food.food.weight} (#{user_food.food.measure})<br /><em><span id='slider-meal-amount-#{user_food.id}'>#{number_with_precision(user_food.amount, :strip_insignificant_zeros => true)}</span> x #{user_food.food.kcal} Kcal</em> = <strong><span id='slider-meal-total-#{user_food.id}'>#{number_with_precision(user_food.kcal, :strip_insignificant_zeros => true)}</span> Kcal</strong> #{image_tag("#{user_food.food.kind}.png")}".html_safe %>
  <%= link_to "Remover", user_food_url(user_food.id, :format => :js), :method => :delete, :remote => true, :class => "remove" %>
  <div id="<%= slider_id %>">&nbsp;</div>
</li>
<%= javascript_tag %{
$(document).ready(function() {
  $( "##{slider_id}" ).slider({
    value: #{user_food.amount},
    min: 0.5,
    max: 10,
    step: 0.5,
    slide: function( event, ui ) {
      $('#slider-meal-amount-#{user_food.id}').html(ui.value.toFixed(1).toString().replace('.',','));
      $('#slider-meal-total-#{user_food.id}').html((ui.value.toFixed(1)*#{user_food.food.kcal}).toString().replace('.',','));
    },
    change: function( event, ui ) {
      $.ajax({
        type: 'PUT',
        url: "#{user_food_url(user_food)}",
        dataType: "script",
        data: {
          user_food: {
            amount: ui.value
          }
        }
      });
    }
  });
});
}, :defer => 'defer' %>
