/* Messages Modules [Ruby: alert notice warning message] */

#flash {
	margin: 1em 0;
}

.flash_notice,
.flash_alert  {
	background-repeat: no-repeat;
	background-position: 2em 50%;
	margin: 1em 0;
	padding: 1em 0 1em 5em;
	border: solid 1px #338000
}

.flash_alert  {
	color: red;
	background-color: #ffc;
	background-image: url(/images/flash_alert.gif);
	border: solid 1px #f00
}


.flash_notice  {
	color: red;
	background-color: #e6ffd5;
	background-image: url(/images/flash_notice.png);
	border: solid 1px #338000
}


.flash_notice dt,
.flash_alert dt {
	color: black;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 95%
}

.flash_notice dd,
.flash_alert dd {
	width: 95%
}