<%= content_for :message_title do %>[ContaCal] Instruções para trocar senha<% end -%>
<p>Foi solicitado o link para trocar a senha de acesso do usuário com e-mail <strong><%= @resource.email %></strong> no ContaCal.</p>
<p>Se este e-mail é seu e você deseja realmente trocar a senha, continue acessando o link abaixo:</p>

<p style="font-size: 1.5em"><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se você não fez essa solicitação basta ignorar esse email.<br/>
A sua senha não será alterada se você não acessar o link acima.</p>
<p>Se você não sabe o que é o ContaCal, <a href="http://contacal.com.br">acesse o site e saiba mais.</a></p>